{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href='/new_item_s.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@200&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% include "navigation.twig" %}


{% if (item != "new") %} 
    {% set barcode = "" %}
    {% set name = item.item_name %}
    {% set vendor = "vendor" %}
    {% set item_id = item.item_skuid %}
    {% set item_price = item.item_price %}
    {% set item_opend = item.item_opend %}
    {% set item_weight = item.item_weight %}
    {% set item_qty = item.item_qty %}
    {% set item_date_add = "now"|date("Y-m-d") %}
    {% set item_date_expiry = item.item_date_expiry %}
    {% set item_expiration_period = item.item_expiration_period %}
    {% set img_url = item.image_adr %}

{% else %} <!-- preset vals for nonerxistant item -->
    {% set barcode = "item name or barcode"%}
    {% set name = "Item name" %}
    {% set vendor = "vendor" %}
    {% set item_id = "enter item id" %}
    {% set item_price = 0 %}
    {% set item_opend = 0 %}
    {% set item_weight = "0" %}
    {% set item_qty = 0 %}
    {% set item_date_add = "now"|date("Y/m/d") %}
    {% set item_date_expiry = "now"|date("Y/m/d") %}
    {% set item_expiration_period = 0 %}
    {% set img_url = "" %}
{% endif %}

<div class="main_body">
    <div class="central">
        <form action="/addnewitem" method="post">
            <select id="vendor" name="vendor">
                <option value="asda">Asda</option>
                <option value="iceland">Iceland</option>
                <option value="morrisons">Morissons</option>
                <option value="waitrose">Waitrose</option>
                <option value="tesco">Tesco</option>
            </select>
            <input type="submit" name="check_item" value="Scrape item" id="check_item" >
            <input type="text" name="barcode" value="{{barcode}}" id="barcode">
            <br>
            <br>
            <p2>Item name:</p2>
            <input type="text" name="item" value="{{name}}" id="item">
            <div id="img_container">
                <img id="image" src="{{img_url}}">
                <br>
                <input type="text" name="img_url" Value="{{img_url}}" id="img_url">
            </div>            

            <br>
            <p2>Item ID:</p2>
            <input type="text" name="item_id" Value="{{item_id}}" id="item_id">
            <br>
            <p2>Bought on:</p2>
            <input type="date" name="date_bought" id="date_bought" value="{{item_date_add}}">
            <br>
            <p2>Expires on:</p2>
            <input type="date" name="date_expiry" id="date_expiry" value="{{item_date_expiry}}">
            <br>
            <p2>Shelf life (days once opend):</p2>
            <input type="text" name="shelf_life" Value="{{item_expiration_period}}" id="shelf_life">
            <br>
            <p2>Price: &pound;</p2>
            <input type="number" name="price" Value="{{item_price}}" id="price" step="any">
            <br>
            <p2>Quantity:</p2>
            <input type="number" name="count" Value="{{item_qty}}" id="count">
            <br>
            <p2>Weight (g):</p2>
            <input type="text" name="weight" Value="{{item_weight}}" id="weight">
            <br>
            <p2>Open?</p2>
            <input type="checkbox" name="opend" id="opend" value="{{item_opend}}">
            <br>
            <input type="submit" name="add_item" value="Add Item">

        </form>
    </div>
</div>
