
{% for Product in allProducts %}
<div class="product">

    <h1>{{ Product.get_name }} </h1>
    <p2>Vendor {{ Product.get_vendor }} </p2>
    <p2>Price {{ Product.get_price }} </p2>
    <p2>Weight {{ Product.get_weight }} </p2>
    <img id="image" src={{ Product.get_img_url }}>
    <p2> Date added {{ Product.get_item_date_add }}</p2>
    <p2> Date of expiry {{ Product.date_expiry }}</p2>
    <p2> Remaining days {{ Product.shelf_life }}</p2>
</div>

{% endfor %} 
